body {
    width: 100%;
    overflow-x: hidden;
}

.main-container {
    min-height: calc(100vh - 136px);
    display: grid;
    width: 100%;
    margin-top: 12vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "image-box"
						"text-box";
    justify-content: center;
    row-gap: 50px;
    column-gap: 50px;
}