*, :before, :after {
  box-sizing: border-box;
}

html {
  tab-size: 4;
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  border: 0;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button:hover, button:focus {
  cursor: pointer;
}

button:disabled {
  color: #544646;
  pointer-events: none;
  background-color: gray;
  border: none;
}

body {
  background-color: #676767;
  font-family: Inconsolata, monospace;
  font-size: 18px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  border: 0;
  margin: -1px;
  padding: 0;
  position: absolute;
  overflow: hidden;
}

header {
  color: #fff;
  height: 70px;
  background-color: #000;
  font-size: 20px;
  display: flex;
}

header .container {
  align-items: center;
  display: flex;
}

.logo-text {
  color: red;
  text-transform: uppercase;
  font-family: Gloria Hallelujah, cursive;
  font-size: 50px;
}

.wrapper {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  display: flex;
}

.text {
  margin-right: 30px;
}

.auth-btn {
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
}

.auth-btn:not(:last-child) {
  margin-right: 10px;
}

.auth-btn:hover, .auth-btn:focus {
  color: #000;
  background-color: red;
  border: 1px solid red;
}

.choose {
  color: #fff;
  background-color: #530101;
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.choose .container {
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  display: flex;
}

.data-list {
  flex-wrap: wrap;
  flex-basis: 75%;
  gap: 50px;
  display: flex;
}

.data-item:hover {
  cursor: pointer;
  text-decoration: underline #fff;
  text-decoration-thickness: 1px;
}

.films {
  color: #fff;
  background-color: #530101;
  border-top: 1px solid #fff;
  padding: 20px 0;
}

.films .container {
  font-size: 25px;
}

.films-item {
  width: 700px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.films-item:hover {
  cursor: pointer;
  text-decoration: underline #fff;
  text-decoration-thickness: 1px;
}

.chairs .container {
  padding: 50px;
}

.chairs-list {
  width: 600px;
  background-color: #b4b1b1;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: flex;
}

.number {
  padding: 25px;
}

.chair-item {
  padding: 5px;
  font-weight: bold;
  position: relative;
}

.chair-item span {
  z-index: 1000;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chair-item:hover, .chair-item:focus, .chair-item.active {
  color: green;
  background-color: #fff;
  border-radius: 50%;
}

.chair-item:hover .chair-icon, .chair-item:focus .chair-icon {
  fill: green;
}

.chair-item-ocup {
  pointer-events: none;
  color: gray;
  padding: 5px;
  font-weight: bold;
  position: relative;
}

.chair-item-ocup span {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chair-item-ocup .chair-icon {
  fill: gray;
  pointer-events: none;
}

.result {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.chosen-film {
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}

.chair {
  color: #fff;
  border: 3px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.submit {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-left: 40px;
  padding: 5px 20px;
}

.submit:hover, .submit:focus {
  color: #000;
  background-color: #e7e3e3;
  border: 1px solid #e7e3e3;
}

.wrapper-result {
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper-result .submitBtn {
  margin-left: 100px;
}

.users {
  padding-bottom: 60px;
}

.users-list {
  flex-wrap: wrap;
  gap: 60px;
  margin-top: 30px;
  display: flex;
}

.user-item {
  min-height: 200px;
  background-color: #d6d6d6;
  border: 1px solid #fff;
  flex-basis: 20%;
  padding: 10px;
}

.order-info {
  border-bottom: 1px solid #000;
  margin-top: 20px;
  padding-bottom: 15px;
}

.order-info .chair {
  color: #000;
  border: 1px solid #000;
}

.order-info .chair:not(:last-child) {
  margin-right: 5px;
}

.movie-time {
  margin-bottom: 20px;
}

.no-books {
  margin-top: 50px;
}

.add-room {
  text-align: center;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.add-room .container {
  display: flex;
}

.addRoom, .addSession {
  width: 400px;
  border: 4px solid #fff;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

.addRoom label, .addSession label {
  text-transform: uppercase;
  color: #fff;
  flex-direction: column;
  display: flex;
}

.addRoom input, .addSession input {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 20px 0;
  padding: 10px;
}

.addSession .timeLabel {
  display: flex;
}

.addSession select {
  flex-basis: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
}

.addSession .wrap {
  gap: 20px;
  display: flex;
}

.addSession .wrap select {
  flex-basis: 50%;
}

.submitBtn, .submitSessionBtn {
  color: #fff;
  text-transform: uppercase;
  background-color: #0000;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.submitBtn:hover, .submitBtn:focus, .submitSessionBtn:hover, .submitSessionBtn:focus {
  background-color: #373333;
}

.form-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: underline #fff;
  text-decoration-thickness: 1px;
}

/*# sourceMappingURL=indexAdmin.b07a87f3.css.map */
