<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Groups page</title>
</head>
<body>
<h1>Admin page</h1>
<section class="section">
    <div th:each="group : ${groups}">
        <form th:action="@{/groups/{id}(id=${group.id})}" th:method="PATCH">
            <div th:if="${group.id.equals(updatedGroupId)}">
                <label for="titleUpd"></label>
                <input type="text" id="titleUpd" th:value="${group.title}">
                <label for="startDateUpd">Start date</label>
                <input id="startDateUpd" type="date">
                <label for="endDateUpd">End date</label>
                <input id="endDateUpd" type="date">
            </div>
            <div th:unless="${group.id.equals(updatedGroupId)}">
                <label for="title"></label>
                <input type="text" id="title" th:value="${group.title}" disabled>
                <label for="startDate">Start date</label>
                <input id="startDate" th:value="${group.startDate}" type="text" disabled>
                <label for="endDate">End date</label>
                <input id="endDate" th:value="${group.endDate}" type="text" disabled>
            </div>
            <div th:if="${group.id.equals(updatedGroupId)}">
                <label for="testIds">Add tests to group</label><br>
                <select name="testsIds" id="testIds" multiple>
                    <option th:each="test : ${tests}"
                            th:value="${test.id}"
                            th:text="${test.title}"
                            th:selected="${group.containsTestId(test.id)}">
                    </option>
                </select>
                <br>
                <button type="submit">Submit</button>
            </div>
        </form>
        <a th:href="@{/groups/preUpdate/{id}(id=${group.id})}">Update</a>
    </div>
    <a href="/groups/new">Add new group</a><br><br>

    <a href="/home">Home</a>
</section>
</body>
</html>