<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Topic</title>
    <link rel="stylesheet" th:href="@{/styles/forms.css}">
    <link rel="stylesheet" th:href="@{/styles/header.css}">
</head>
<body>
<header>
    <img th:src="@{/images/logo.png}" alt="">
    <nav class="navigation-bar">
        <a href="/home"><i class="fa-solid fa-bookmark"></i>MAIN</a>
        <a href="/archived"><i class="fa-solid fa-box-open"></i>ARCHIVED</a>
        <a href="#"><i class="fa-solid fa-trophy"></i>PASSED</a>
        <a th:if="${user.role.toString().equals('manager')}" href="/tests/create">
            <i class="fa-solid fa-lightbulb"></i>CREATE
        </a>
        <a style="color: #ffca28" th:if="${user.role.toString().equals('manager')}" href="/topics/create">
            <i class="fa-solid fa-book-open-reader"></i>CREATE TOPIC
        </a>
        <a href="/groups/new">
            <i class="fa-solid fa-layer-group"></i>CREATE GROUP
        </a>
        <a href="#"><i class="fa-solid fa-book"></i>CATEGORIES</a>
    </nav>
    <div class="auth">
        <a href="/logout"><i class="fa-solid fa-user"></i>LOGOUT</a>
    </div>
</header>
<section class="section">
    <form class="form" action="/topics" method="post" th:object="${topic}">
        <h1>New Topic</h1>
        <div class="input-container">
            <input type="text" th:field="*{title}" id="title" autocomplete="off" required>
            <label class="label-name" for="title">
                <span class="content-name">Title</span>
            </label>
        </div>
        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
        <div class="input-container">
            <input type="text" th:field="*{pictureUrl}" id="pictureUrl" autocomplete="off" required>
            <label class="label-name" for="pictureUrl">
                <span class="content-name">Picture URL</span>
            </label>
        </div>
        <div class="error" th:if="${#fields.hasErrors('pictureUrl')}" th:errors="*{pictureUrl}"></div>
        <button class="button" type="submit">Register topic</button>
    </form>
</section>

</body>
</html>